@(loginForm: Form[(String, String)])(implicit flash: Flash)

@import helper._
@import helper.twitterBootstrap._

@headers = {
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/users/login.css")" />
}
@footers = {}
@main("ログイン", headers, footers) {
  @helper.form(action = net.mtgto.controllers.routes.UserController.authenticate, 'class -> "form-signin") {
  <h2 class="form-signin-heading">サインインが必要です</h2>
    @inputText(loginForm("name"), '_label -> "ユーザ名", 'placeholder -> "ユーザ名")
    @inputPassword(loginForm("password"), '_label -> "パスワード", 'placeholder -> "パスワード")
    <button class="btn btn-large btn-primary" type="submit">サインイン</button>
  }
}
