@(message: String, client: Option[net.mtgto.domain.Client], channels: Seq[net.mtgto.domain.Channel], bots: Seq[net.mtgto.domain.Bot])(implicit flash: Flash)

@stylesheets = {}
@main("IRC bot", stylesheets) {
<h1>@message</h1>
<section id="clients" class="container">
  <h2>クライアント</h2>
  @client match {
    case Some(client) => {
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>名前</th>
            <th>値</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>ID</td>
            <td>@client.identity.value</td>
          </tr>
          <tr>
            <td>ホスト名</td>
            <td>@client.hostname</td>
          </tr>
          <tr>
            <td>ポート</td>
            <td>@client.port</td>
          </tr>
          <tr>
            <td>パスワード</td>
            <td>@client.password.getOrElse("(なし)")</td>
          </tr>
          <tr>
            <td>エンコーディング</td>
            <td>@client.encoding</td>
          </tr>
          <tr>
            <td>ディレイ</td>
            <td>@client.delay</td>
          </tr>
          <tr>
            <td>ニックネーム</td>
            <td>@client.nickname</td>
          </tr>
          <tr>
            <td>ユーザネーム</td>
            <td>@client.username</td>
          </tr>
          <tr>
            <td>リアルネーム</td>
            <td>@client.realname</td>
          </tr>
        </tbody>
      </table>
      <a class="btn" href="@net.mtgto.controllers.routes.Application.connect">接続</a>
      <a class="btn" href="@net.mtgto.controllers.routes.Application.disconnect">切断</a>
    }
    case None => {
      クライアント指定してないよ
    }
  }
</section>
<section id="channels" class="container">
  <h2>チャンネル</h2>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
      </tr>
    </thead>
    <tbody>
      @for(channel <- channels) {
        <tr>
          <td>@channel.identity</td>
          <td>@channel.name</td>
        </tr>
      }
    </tbody>
  </table>
</section>
<section id="bots" class="container">
  <h2>ボット</h2>
    <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>名前</th>
        <th>設定</th>
        <th>有効</th>
      </tr>
    </thead>
    <tbody>
      @for(bot <- bots) {
        <tr>
          <td>@bot.identity</td>
          <td>@bot.name</td>
          <td>@if(bot.config.isEmpty){(なし)}else{(あり)}</td>
          <td>@bot.enabled</td>
        </tr>
      }
    </tbody>
  </table>
  <a class="btn" href="@net.mtgto.controllers.routes.BotController.showCreateView">追加</a>
</section>
}
